<% provide(:title, '') %>

<div class="top"> <!-- Top info pane -->
  <div class="titles"> <!-- Semester Selection Form -->
    <h1>List of Courses</h1>
  </div>
  <div class="forms">
    <%= form_tag :action => 'startup' do %>						  
    <%= select_tag(:selection, options_for_select(getSemesterArray()))%>						
      <br>
      <%= submit_tag "Change Semester" %>
    <% end %>
  </div> <!-- Semester Selection Form -->
  <div class="titles">
    <h1><%= getSemester(params[:selection]).html_safe %></h1>
  </div>
  <div class="forms">
    <%= link_to image_tag("search.png", alt: "Search"), '#searchModal' %>
    <br>
    <%= link_to image_tag("codes.png", alt: "Site Codes"), '#codesModal' %>
  </div>
</div> <!-- top info pane -->
<div id="searchModal" class="searchDialog"> 
  <div> <!-- Search Box -->
    <a href="#close" title="Close" class="close">X</a>
      
    <%= form_tag :action => 'search' do %> <!-- Search Form -->
      <div class="search_panel">
	<!-- CRN (Course Registration Number) -->
	<%= label_tag(:crn_input, "CRN") %>
	<%= text_field_tag :crn_input, nil, placeholder:"Course Registration Number"%>
      </div>
      <div class="search_panel">
	<!-- SUBJ (Subject) -->
	<%= label_tag(:subj_input, "SUBJ") %>
	<%= text_field_tag :subj_input, nil, placeholder:"Subject"%>
      </div>
      <div class="search_panel">
	<!-- CRS (Course Level Number) -->
	<%= label_tag(:crs_input, "CRS") %>
	<%= text_field_tag :crs_input, nil, placeholder:"Course Number"%>
      </div>
      <div class="search_panel clearLeft">
	<!-- SEC (Section Number) -->
	<%= label_tag(:sec_input, "SEC") %>
	<%= text_field_tag :sec_input, nil, placeholder:"Section Number" %>
      </div>
      <div class="search_panel">    
	<!-- TITLE -->
	<%= label_tag(:title_input, "TITLE") %>
	<%= text_field_tag :title_input, nil, placeholder:"Title" %>
      </div>
      <div class="search_panel">    
	<!-- CH (Credit Hours) -->
	<%= label_tag(:ch_input, "CH") %>
	<%= text_field_tag :ch_input, nil, placeholder:"Credit Hours" %>
      </div>
      <div class="search_panel clearLeft">
	<!-- MAX (Maximum Seats) -->
	<%= label_tag(:max_input, "MAX") %>
	<%= text_field_tag :max_input, nil, placeholder:"Maximum Seats" %>
      </div>
      <div class="search_panel">    
	<!-- ENR (Students Enrolled) -->
	<%= label_tag(:enr_input, "ENR") %>
	<%= text_field_tag :enr_input, nil, placeholder:"Students Enrolled" %>
      </div>
      <div class="search_panel">    
	<!-- AVAIL (Seats Available) -->
	<%= label_tag(:avail_input, "AVAIL") %>
	<%= text_field_tag :avail_input, nil, placeholder:"Seats Available" %>
      </div>
      <div class="search_panel clearLeft">
	<!-- WL (Waiting List) -->
	<%= label_tag(:wl_input, "WL") %>
	<%= text_field_tag :wl_input, nil, placeholder:"Waiting List" %>
      </div>
      <div class="search_panel">    
	<!-- DAYS (Meeting Days) -->
	<%= label_tag(:days_input, "DAYS") %>
	<%= text_field_tag :days_input, nil, placeholder:"Meeting Days" %>
      </div>
      <div class="search_panel">    
	<!-- STIME (Start Time) -->
	<%= label_tag(:stime_input, "STIME") %>
	<%= text_field_tag :stime_input, nil, placeholder:"Start Time" %>
      </div>
      <div class="search_panel clearLeft">
	<!-- ETIME (End Time) -->
	<%= label_tag(:etime_input, "ETIME") %>
	<%= text_field_tag :etime_input, nil, placeholder:"End Time" %>
      </div>
      <div class="search_panel">    
	<!-- BLDGROOM (Building/Room) -->
	<%= label_tag(:bldgroom_input, "BLDG/ROOM") %>
	<%= text_field_tag :bldgroom_input, nil, placeholder:"Building/Room" %>
      </div>
      <div class="search_panel">    
	<!-- WK (Weeks) -->
	<%= label_tag(:wk_input, "WK") %>
	<%= text_field_tag :wk_input, nil, placeholder:"Weeks" %>
      </div>
      <div class="search_panel clearLeft">
	<!-- INSTRUCTOR (Instructor Name) -->
	<%= label_tag(:insructor_input, "INSTRUCTOR") %>
	<%= text_field_tag :instructor_input, nil, placeholder:"Instructor Name" %>
      </div>
      <div class="search_panel">    
	<!-- EF (Estimated Fees) -->
	<%= label_tag(:ef_input, "EF") %>
	<%= text_field_tag :ef_input, nil, placeholder:"Estimated Fees" %>
      </div>
      <div class="search_panel">    
	<!-- STARTS ON (Starting Day) -->
	<%= label_tag(:startson_input, "STARTS ON") %>
	<%= text_field_tag :startson_input, nil, placeholder:"Starting Day" %>
      </div>
      <div class="clearLeft">
	<% radio_button_tag(:searchType, 0, true, class:"displayInline") %>
	<% label_tag(:search_in, "Inclusive", class:"displayInline") %>
	<% radio_button_tag(:searchType, 1, false, class:"displayInline") %>
	<% label_tag(:search_ex, "Exclusive", class:"displayInline") %>
	<br>
	<%= submit_tag("Search", class:"clearLeft") %>
	<% end %> <!-- Search Form -->
      </div> <!-- Radio Buttons/Search Button Div-->
  </div> <!-- Search Box -->
</div> <!-- Modal -->

<div id="codesModal" class="codesDialog"> 
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <div class="helpPanel">
    <h3>Section Number Codes</h3>
    <ul>
      <li>Section 01-19 - University Campus Day Classes</li>
      <li>Section 20-29 - Night Classes taught on the university campus (start 4:00 pm or later)</li>
      <li>Section 30-39 - Off Campus Classes</li>
      <li>Section 80-89 - Shared Courses with Bluefield State College at Beckley HEC</li>
      <li>Section 1V, 2V, etc. - Video Conferencing Classes</li>
      <li>Section 1AS, 2AS, etc. - Asynchronous Web Based (access all times within scheduled dates)</li>
      <li>Section 1SY, 2SY, etc. - Synchronous Web Based (specific class times)</li>
      <li>Section 1HW, 2HW, etc. - Hybrid Web (class meeting MAY be required)</li>
    </ul>
  </div>
    <div class="helpPanel">
  <h3>Building Codes</h3>
  <ul>
    <li>CARTER - Carter Center</li>
    <li>FINART - Fine Arts Center</li>
    <li>LIBRARY - Marsh Library</li>
    <li>MARSH - Marsh Hall (Administration Building)</li>
    <li>RAHALL - Rahall Technology Center</li>
    <li>SCIEN - Science Building</li>
    <li>STUCTR - Student Center</li>
    <li>DSTU - Dance Studio</li>
  </ul>
  </div>
    <div class="helpPanel clearLeft">
  <h3>Campus Codes</h3>
  <ul>
    <li>ATHENS - Athens</li>
    <li>BECKLY - HEC - Beckley Higher Education Center</li>
    <li>LEWISB - Lewisburg</li>
    <li>PIKEVI - Pikeview</li>
    <li>PCTN - Princeton</li>
    <li>SHADYS - Shady Spring</li>
  </ul>
  </div>
    <div class="helpPanel">
  <h3>Fees</h3>
  (Contact Business Office for Current Fee Rates)
  <ul>
    <li>T = Technical Fee</li>
    <li>L = Lab Fee</li>
    <li>C = Clay</li>
    <li>TU = Tutorial Fee</li>
    <li>AT = ATSF Fee</li>
    <li>DS = DSTF</li>    
  </ul>
  </div>
</div>
</div>

<% @@testing = get_data() %>
<% @@currentSemester = query_data() %>

<p> <% @@testing %> </p>

<table>
<% counter = 0 %>
<%	@@currentSemester.each(:as => :array) do |row| %>
  <% if counter % 25 == 0 %>
  <%= print_header().html_safe %>
  <% end %>
	<tr>
	  <td><%= row[0].to_s %> </td>
	  <td><%= row[1].to_s %> </td>
	  <td><%= row[2].to_s %> </td>
	  <td><%= row[3].to_s %> </td>
	  <td><%= row[4].to_s %> </td>
	  <td><%= row[5].to_s %> </td>
	  <td><%= row[6].to_s %> </td>
	  <td><%= row[7].to_s %> </td>
	  <td><%= row[8].to_s %> </td>
	  <td><%= row[9].to_s %> </td>
	  <td><%= row[10].to_s %> </td>
	  <td><%= row[11].to_s %> </td>
	  <td><%= row[12].to_s %> </td>
	  <td><%= row[13].to_s %> </td>
	  <td><%= row[14].to_s %> </td>
	  <td><%= row[15].to_s %> </td>
	  <td><%= row[16].to_s %> </td>
	  <td><%= row[17].to_s %> </td>
	</tr>

  <% counter += 1 %>
<% end %>	
</table>

