<% provide(:title, 'Scraper Test') %>
<h1>Scraper Test</h1>
<p>
  <%= form_tag :action => 'startup' do %>
  <%= select_tag(:selection, options_for_select([['Spring 2014', 201402],
						  ['Fall 2013', 201401],
						  ['Spring 2013', 201302],
						  ['Fall 2012', 201301],
						  ])) %>
  <%= submit_tag "Submit" %>
  <% end %>
 
  <%= print :selection %>
  <%= scrape_site(params[:selection]).html_safe %>
  <br>
  
</p>
  
  